apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: poc-service-dev
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/victormilk/poc-service
    targetRevision: dev
    path: k8s/overlays/development
  destination:
    server: https://kubernetes.default.svc
    namespace: development
  syncPolicy:
    automated:
      prune: true
      selfHeal: true