apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: poc-service-prod
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/victormilk/poc-service
    targetRevision: main
    path: k8s/overlays/production
  destination:
    server: https://kubernetes.default.svc
    namespace: production
  syncPolicy:
    automated:
      prune: true
      selfHeal: true